<h3>My Alerts</h3>
<alerter></alerter>
<button class="btn btn-small btn-primary" ng-click="toggleModal()"><span class="glyphicon glyphicon-plus"></span></button>
<table class="table table-striped">
  <thead>
    <tr>
      <th ng-repeat="header in headers">
        <sort-by onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="alert in alerts">
      <td>{{alert.id}}</td>
      <td>{{alert.topic}}</td>
      <td>{{alert.message_type}}</td>
      <td>{{alert.operator}}</td>
      <td>{{alert.threshold_value}}</td>
      <td>{{alert.alert_type}}</td>
      <td>{{alert.alert_receiver}}</td>
      <td>
        <button class="btn btn-xs btn-primary" ng-click="showEdit(alert)"><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-xs btn-danger" ng-click="deleteAlert(alert.id)"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="alertsCount == 0">
  <h3>No Alerts Found</h3>
</div>

<uib-pagination total-items="alertsCount" ng-model="filterCriteria.pageNumber" items-per-page="filterCriteria.limit" max-size="6" class="pagination-sm" boundary-links="true" ng-change="selectPage()"></uib-pagination>

<modal title="Add/Edit Alert" visible="showModal">
  <form role="form" ng-submit="processForm(alertForm)" name="alertForm">
    <div class="form-group">
      <label for="topic">Topic</label>
      <input type="topic" class="form-control" id="topic" ng-model="modalItems.topic" placeholder="MQTT Topic" required />
    </div>

    <div class="form-group">
      <label for="message_type">Message Type</label>
      <select name="message_type" id="message_type" class="form-control" ng-model="modalItems.message_type" required>
        <option value="string">String</option>
        <option value="number">Number</option>
      </select>
    </div>

    <div class="form-group">
      <label for="operator">Operator</label>
      <select name="operator" id="operator" class="form-control" ng-model="modalItems.operator" required>
        <option value="eq">Equals</option>
        <option value="neq">Does Not Equal</option>
        <option value="gt">Greater Than</option>
        <option value="lt">Less Than</option>
      </select>
    </div>

    <div class="form-group">
      <label for="threshold_value">Threshold Value</label>
      <input type="threshold_value" class="form-control" id="threshold_value" ng-model="modalItems.threshold_value" placeholder="Threshold Value" required />
    </div>

    <div class="form-group">
      <label for="alert_type">Alert Type</label>
      <select name="alert_type" id="alert_type" class="form-control" ng-model="modalItems.alert_type" required>
        <option value="email">Email</option>
      </select>
    </div>

    <div class="form-group">
      <label for="alert_receiver">Alert Receiver</label>
      <input type="alert_receiver" class="form-control" id="alert_receiver" ng-model="modalItems.alert_receiver" placeholder="Receiver" required />
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</modal>
