<h3>Change Password</h3>
<alerter></alerter>
<div class="row">
  <div class="col-md-6">

    <form name="registerForm" novalidate ng-submit="submitChange(registerForm.$valid)">

    <!-- Old Password -->
    <div class="form-group">
        <label for="password">Old Password*</label>
        <input type="password"
               id="old_password"
               name="old_password"
               class="form-control"
               ng-model="credentials.old_password"
               required />
    </div>

    <!-- Password -->
    <div class="form-group">
        <label for="password">New Password*</label>
        <input type="password"
               id="new_password"
               name="new_password"
               class="form-control"
               ng-model="credentials.new_password"
               placeholder="Password"
               required />
        <div ng-show="(registerForm.old_password.$dirty || submitted)">
            <span class="error" ng-show="registerForm.new_password.$error.required">Please enter a password.</span>
        </div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
        <label for="passwordConfirmation">Confirm Password*</label>
        <input type="password"
               id="new_password_confirm"
               name="new_password_confirm"
               class="form-control"
               ng-model="credentials.new_password_confirm"
               placeholder="Password"
               match="credentials.new_password"
               required />
        <div ng-show="(registerForm.new_password.$dirty || submitted)">
            <span class="error" ng-show="registerForm.new_password_confirm.$error.required">Please confirm your password.</span>
            <span class="error" ng-show="registerForm.new_password_confirm.$error.match">Your passwords don't match.</span>
        </div>
    </div>

    <button class="btn btn-default" type="submit" ng-disabled="registerForm.$invalid">Change Password</button>
    </form>
  Form valid: {{registerForm.$valid}}
  </div>
</div>

