<h3>My Dashboards</h3>
<alerter></alerter>
<button class="btn btn-small btn-primary" ng-click="toggleModal()"><span class="glyphicon glyphicon-plus"></span></button>
<table class="table table-striped">
  <thead>
    <tr>
      <th ng-repeat="header in headers">
        <sort-by onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="dashboard in dashboards">
      <td>{{dashboard.id}}</td>
      <td>{{dashboard.name}}</td>
      <td>{{dashboard.description}}</td>
      <td>
        <a href="#/dashboardview/{{dashboard.id}}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-signal"></span></a>
        <button class="btn btn-xs btn-primary" ng-click="showEdit(dashboard)"><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-xs btn-danger" ng-click="deleteDashboard(dashboard.id)"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="alertsCount == 0">
  <h3>No Alerts Found</h3>
</div>

<uib-pagination total-items="alertsCount" ng-model="filterCriteria.pageNumber" items-per-page="filterCriteria.limit" max-size="6" class="pagination-sm" boundary-links="true" ng-change="selectPage()"></uib-pagination>

<modal title="Add/Edit Alert" visible="showModal">
  <form role="form" ng-submit="processForm(alertForm)" name="alertForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" class="form-control" id="name" ng-model="modalItems.name" placeholder="Dashboard Name" required />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="5" class="form-control" ng-model="modalItems.description"></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</modal>
