<alerter></alerter>
<div class="page-header">
    <div class="row">

      <div class="col-sm-6">
        <h3>Dashboard: {{dashname}}</h3>
      </div>
      <div class="col-sm-6" style="text-align: right;">
      <br/>&nbsp;
        <button class="btn btn-default btn-sm" ng-click="toggleModal()">Add Component</button>
        <a class="btn btn-default btn-sm" role="button" ng-click="saveDashboard()"><span class="glyphicon glyphicon-save"> Save</span></a>
        <a href="#" class="btn btn-default btn-sm" role="button" onclick="set_default();">Set as default</a>
        <a href="#/dashboards" class="btn btn-danger btn-sm" role="button">Cancel</a>
      </div>
    </div>
</div>

<div gridster="gridsterOptions">
  <ul>
    <li gridster-item="component" ng-repeat="component in components">
      <div class="panel panel-default" style="height: 100%; min-height: 100%;">
        <div class="panel-heading clearfix">
          <span class="panel-title pull-left"><span class="panel-title-text">{{ component.name }}</span></span>
          <span class="panel-title pull-right"><a ng-click="removePanel(component)"><span class="glyphicon glyphicon-remove"></span></a></span>
          <span class="panel-title pull-right"><a ng-click="editForm(component)"><span class="glyphicon glyphicon-cog"></span></a></span>
        </div>
        <div class="panel-body" id="replacepanelbodyid" style="height: 100%; min-height: 100%;">

          <div ng-if="component.type == 'textdisplay'" align="center">
            <h4 style="color: {{component.txtcolorval}};">{{component.txtprepend}}</h4>
            <p style="color: {{component.txtcolorval}};">{{component.value}}</p>
          </div>

          <a class="btn btn-sm btn-primary" ng-click="momentary(component)" ng-if="component.type == 'momentary'" style="width: 100%;">{{component.btntext}}</a>

          <justgage ng-if="component.type == 'gauge'" title="{{component.gaugeunit}}" value="{{component.value}}" min="{{component.gaugemin}}" max="{{component.gaugemax}}"></justgage>

          <flot ng-if="component.type == 'linechart'" dataset="component.dataset" options="component.options" height="80%" on-plot-hover="chartvalues(component, event, pos, item)"></flot>
          <div ng-if="component.type == 'linechart'" id="tooltip"><p ng-style="{color: component.options.colors[0]}">{{component.value}}</p></div>


          <rzslider rz-slider-model="component.value" rz-slider-options="{id:component.id, floor:component.floor, ceil:component.ceil, step:component.step, onEnd:slider}" ng-if="component.type == 'slider'"></rzslider>

          <toggle-switch ng-model="component.value" ng-change="toggleIt(component)" ng-if="component.type == 'toggle'"><toggle-switch>

        </div>
      </div>
    </li>
  </ul>
</div>



<modal title="Add/Edit Alert" visible="showModal">
  <form role="form" ng-submit="processForm()" name="alertForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name" ng-model="modalItems.name" placeholder="Component Name" required />
    </div>

    <div class="form-group">
      <label for="topic">Topic</label>
      <input type="text" name="topic" class="form-control" id="topic" ng-model="modalItems.topic" placeholder="MQTT Topic" required />
    </div>

    <div class="form-group">
      <label for="component">Component</label>
      <select name="component" id="component" class="form-control" ng-model="modalItems.component" required>
        <option value="linechart">Line Chart</option>
        <option value="gauge">Gauge</option>
        <option value="textdisplay">Text Display</option>
        <option value="momentary">Momentary Button</option>
        <option value="toggle">Toggle Button</option>
        <option value="slider">Slider</option>
      </select>
    </div>

    <div class="form-group" ng-show="modalItems.component == 'linechart'">
      <label for="lccolorval">Chart Color</label>
      <input colorpicker type="text" name="lccolorval" class="form-control" ng-model="modalItems.lccolorval" />
      <!--<input type="text" name="lccolorval" class="form-control" id="lccolorval" ng-model="modalItems.lccolorval" placeholder="HTML Color Value" />-->
    </div>

    <div class="form-group" ng-show="modalItems.component == 'gauge'">
      <label for="gaugemin">Gauge Min</label>
      <input type="text" name="gaugemin" class="form-control" id="gaugemin" ng-model="modalItems.gaugemin" placeholder="Gauge Minimum Value" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'gauge'">
      <label for="gaugemax">Gauge Max</label>
      <input type="text" name="gaugemax" class="form-control" id="gaugemax" ng-model="modalItems.gaugemax" placeholder="Gauge Maximum Value" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'gauge'">
      <label for="gaugeunit">Gauge Unit</label>
      <input type="text" name="gaugeunit" class="form-control" id="gaugeunit" ng-model="modalItems.gaugeunit" placeholder="Gauge Unit" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'textdisplay'">
      <label for="txtcolorval">Text Color</label>
      <input colorpicker type="text" name="txtcolorval" class="form-control" ng-model="modalItems.txtcolorval" />
      <!--<input type="text" name="txtcolorval" class="form-control" id="txtcolorval" ng-model="modalItems.txtcolorval" placeholder="HTML Color Value" />-->
    </div>

    <div class="form-group" ng-show="modalItems.component == 'textdisplay'">
      <label for="txtprepend">Prepend Value</label>
      <input type="text" name="txtprepend" class="form-control" id="txtprepend" ng-model="modalItems.txtprepend" placeholder="HTML Color Value" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'momentary'">
      <label for="btnvalue">Value To Send</label>
      <input type="text" name="btnvalue" class="form-control" id="btnvalue" ng-model="modalItems.btnvalue" placeholder="Value to send when button is pressed" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'momentary'">
      <label for="btntext">Button Text</label>
      <input type="text" name="btntext" class="form-control" id="btntext" ng-model="modalItems.btntext" placeholder="Button Text" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'toggle'">
      <label for="toggleprepend">Toggle Prepend Text</label>
      <input type="text" name="toggleprepend" class="form-control" id="toggleprepend" ng-model="modalItems.toggleprepend" placeholder="Button Text" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'slider'">
      <label for="slidermin">Minimum Value</label>
      <input type="text" name="slidermin" class="form-control" id="slidermin" ng-model="modalItems.slidermin" placeholder="Slider Min Value" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'slider'">
      <label for="slidermax">Maximum Value</label>
      <input type="text" name="slidermax" class="form-control" id="slidermax" ng-model="modalItems.slidermax" placeholder="Slider Max Value" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'slider'">
      <label for="sliderstep">Step Value</label>
      <input type="text" name="sliderstep" class="form-control" id="sliderstep" ng-model="modalItems.sliderstep" placeholder="Step Value" />
    </div>

    <div class="form-group" ng-show="modalItems.component == 'slider'">
      <label for="sliderprepend">Slider Prepend</label>
      <input type="text" name="sliderprepend" class="form-control" id="sliderprepend" ng-model="modalItems.sliderprepend" placeholder="Prepend Value" />
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</modal>
