<div class="page-header">
    <div class="row">

      <div class="col-sm-6">
        <h3>View History Entries</h3>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="form-inline" name="searchForm" ng-submit="search()">

      <div class="form-group">
        <label for="operator">Persisted Topic</label>
        <select name="topic" class="form-control" ng-model="params.topic" required>
          <option ng-repeat="t in topics" value="{{t.topic}}">{{t.topic}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="operator">Aggregate</label>
        <select name="aggregate" class="form-control" ng-model="params.aggregate" required>
          <option value="none">No aggregation</option>
          <option value="hourly">Hourly</option>
          <option value="daily">Daily</option>
        </select>
      </div>

      <div class="form-group">
      <label>From: </label>
        <div class='input-group date' bs-date-time-picker  ng-model="params.from">
        <input type='text' class="form-control" />
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>

      <div class="form-group">
      <label>To: </label>
        <div class='input-group date' bs-date-time-picker  ng-model="params.to">
        <input type='text' class="form-control" />
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>

      <button type="submit" class="btn btn-sm">Search</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr/>
    <flot dataset="dataset" options="options" height="500" on-plot-hover="chartvalues(event, pos, item)"></flot>
    <div id="tooltip"><br/><p><b>{{chartvalue}}</b></p></div>
  </div>
</div>

