<div class="page-header">
  <h1>Login</h1>
</div>

<div class="col-md-4">
  <alerter></alerter>
  <form method="post" class="form" role="form" ng-submit="logIn()">

  <div class="form-group "><label class="control-label" for="email">Email</label>
    <input class="form-control" name="email" type="text" ng-model="userdata.username" required>
  </div>

  <div class="form-group "><label class="control-label" for="password">Password</label>
    <input class="form-control" name="password" type="password" ng-model="userdata.password" required>
  </div>

  <input class="btn btn-default" name="submit" type="submit" ng-value="btnval">
</form>
<br>
<p>Forgot your password? <a ng-href="#/request_reset">Click here to reset it</a>.</p>
</div>

