<h3>My Persisted Topics</h3>
<alerter></alerter>
<button class="btn btn-small btn-primary" ng-click="toggleModal()"><span class="glyphicon glyphicon-plus"></span></button>
<table class="table table-striped">
  <thead>
    <tr>
      <th ng-repeat="header in headers">
        <sort-by onsort="onSort" sortdir="filterCriteria.sortDir" sortedby="filterCriteria.sortedBy" sortvalue="{{ header.value }}">{{ header.title }}</sort-by>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="persist in persists">
      <td>{{persist.id}}</td>
      <td>{{persist.topic}}</td>
      <td>{{persist.storage_type}}</td>
      <td>
        <button class="btn btn-xs btn-primary" ng-click="showEdit(persist)"><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-xs btn-danger" ng-click="deletePersist(persist.id)"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </tbody>
</table>
<div ng-show="alertsCount == 0">
  <h3>No Records Found</h3>
</div>

<uib-pagination total-items="alertsCount" ng-model="filterCriteria.pageNumber" items-per-page="filterCriteria.limit" max-size="6" class="pagination-sm" boundary-links="true" ng-change="selectPage()"></uib-pagination>

<modal title="Add/Edit Alert" visible="showModal">
  <form role="form" ng-submit="processForm(persistForm)" name="persistForm">
    <div class="form-group">
      <label for="topic">Topic</label>
      <input type="topic" class="form-control" id="topic" ng-model="modalItems.topic" placeholder="MQTT Topic" required />
    </div>

    <div class="form-group">
      <label for="storage_type">Storage Type</label>
      <select name="storage_type" id="storage_type" class="form-control" ng-model="modalItems.storage_type" required>
        <option value="string">String</option>
        <option value="number">Number</option>
      </select>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</modal>
