<h3>Password Reset</h3>
<alerter></alerter>
<div class="row">
  <div class="col-md-6">

    <form name="registerForm" novalidate ng-submit="sendEmail(registerForm.$valid)">

    <!-- Old Password -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               id="email"
               name="email"
               class="form-control"
               ng-model="credentials.email"
               required />
    </div>

    <button class="btn btn-default" type="submit" ng-disabled="registerForm.$invalid">Change Password</button>
    </form>
  </div>
</div>
