<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/slate/bootstrap.min.css">
    <link rel="stylesheet" href="static/libs/css/angular-toggle-switch.css" />
    <link rel="stylesheet" href="static/libs/css/colorpicker.min.css" />
    <link rel="stylesheet" href="static/libs/css/angular-gridster.css" />
    <link rel="stylesheet" href="static/libs/css/rzslider.min.css" />
    <link rel="stylesheet" href="static/libs/css/ngProgress.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/main.css">-->
    <!-- endbuild -->
    <link rel="stylesheet" href="static/styles/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
  </head>
  <body ng-app="testApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-controller="MainCtrl">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Konjuit</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li ng-if="loggedIn()"><a ng-href="#/dashboards">Dashboards</a></li>
              <li ng-if="loggedIn()"><a ng-href="#/alerts">Alerts</a></li>
              <li ng-if="loggedIn()"><a ng-href="#/persists">Persistance</a></li>
              <li ng-if="loggedIn()"><a ng-href="#/history">History</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" >
                <li class="dropdown" ng-if="loggedIn()">
                    <a class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="#/change_password">Change Password</a></li>
                        <li><a >Change Email</a></li>
                        <li><a ng-click="logOut()">Log Out</a></li>
                    </ul>
                </li>
                <li ng-if="!loggedIn()"><a href="#/login">Log In</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">

      </div>
    </div>
    <script src="static/libs/js/jquery.min.js"></script>
    <script src="static/libs/js/angular.min.js"></script>
    <script src="static/libs/js/bootstrap.min.js"></script>
    <script src="static/libs/js/angular-animate.min.js"></script>
    <script src="static/libs/js/angular-cookies.min.js"></script>
    <script src="static/libs/js/angular-messages.min.js"></script>
    <script src="static/libs/js/angular-resource.min.js"></script>
    <script src="static/libs/js/angular-route.min.js"></script>
    <script src="static/libs/js/angular-sanitize.min.js"></script>
    <script src="static/libs/js/angular-touch.min.js"></script>
    <script src="static/libs/js/ui-bootstrap-tpls.min.js"></script>
    <script src="static/libs/js/angular-confirm.min.js"></script>
    <script src="static/libs/js/angular-toggle-switch.min.js"></script>
    <script src="static/libs/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="static/libs/js/raphael-min.js"></script>
    <script src="static/libs/js/justgage.js"></script>
    <script src="static/libs/js/angular-gage.min.js"></script>
    <script src="static/libs/js/angular-validation-match.min.js"></script>
    <script src="static/libs/js/detect-element-resize.js"></script>
    <script src="static/libs/js/angular-gridster.min.js"></script>
    <script src="static/libs/js/rzslider.min.js"></script>
    <script src="static/libs/js/ngprogress.min.js"></script>

    <!-- Flot Plugins -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.categories.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
    <script src="static/libs/js/angular-flot.js"></script>

    <script src="//git.eclipse.org/c/paho/org.eclipse.paho.mqtt.javascript.git/plain/src/mqttws31.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <script src="static/scripts/app.js"></script>
    <script src="static/scripts/controllers/main.js"></script>
    <script src="static/scripts/controllers/about.js"></script>
    <script src="static/scripts/controllers/dashboards.js"></script>
    <script src="static/scripts/controllers/alerts.js"></script>
    <script src="static/scripts/controllers/history.js?ver=1.03"></script>
    <script src="static/scripts/directives/modal.js"></script>
    <script src="static/scripts/directives/sortby.js"></script>
    <script src="static/scripts/directives/onblurchange.js"></script>
    <script src="static/scripts/directives/onenterblur.js"></script>
    <script src="static/scripts/services/alerts.js"></script>
    <script src="static/scripts/controllers/dashboardview.js"></script>
    <script src="static/scripts/services/dashboard.js"></script>
    <script src="static/scripts/services/mqtt.js"></script>
    <script src="static/scripts/controllers/login.js"></script>
    <script src="static/scripts/services/authenticationservice.js"></script>
    <script src="static/scripts/services/tokeninterceptor.js"></script>
    <script src="static/scripts/services/userservice.js"></script>
    <script src="static/scripts/controllers/persists.js"></script>
    <script src="static/scripts/directives/alerter.js"></script>
    <script src="static/scripts/services/appalerts.js"></script>
    <script src="static/scripts/directives/bsdatetimepicker.js"></script>
    <script src="static/scripts/controllers/change_password.js"></script>
    <script src="static/scripts/controllers/reset_change.js"></script>
    <script src="static/scripts/controllers/request_reset.js"></script>
</body>
</html>
